html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Circe-fnt';
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-fnt';
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-fnt';
  src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #808080;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Circe-fnt';
  font-size: 14px;
  letter-spacing: 1px;
  color: #b3b3b3;
  position: relative;
  min-height: 100vh;
  min-width: 320px;
}
body:before {
  content: '';
  width: 100%;
  height: 235px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+100 */
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4f4f4 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
body:after {
  content: '';
  height: 300px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0f0f0+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
  /* IE6-9 */
}
header {
  width: 100%;
  height: 100px;
  background: #fff;
  position: relative;
  top: 0;
  z-index: 9999;
}
.header {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  height: 100px;
  overflow: visible;
  position: relative;
}
.header__logo {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #89C5C3;
  line-height: 22px;
  height: 100px;
  padding: 30px 0;
  position: absolute;
  letter-spacing: 0;
  left: -50px;
}
.header__menu {
  display: inline-block;
  overflow: hidden;
  padding: 0 0 0 200px;
}
.header__menu li {
  display: inline-block;
}
.header__menu li a {
  display: block;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__menu li a:hover {
  color: #808080;
}
.header__block {
  float: right;
  height: 100px;
  padding: 20px 0;
}
.login {
  float: left;
  overflow: hidden;
}
.login__enter {
  display: block;
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 60px;
  margin: 0 60px 0 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.login__enter:hover {
  color: #808080;
}
.purchases {
  float: right;
  position: relative;
}
.purchases__link {
  display: block;
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 60px;
  padding: 0 0 0 30px;
  background: url('../images/cart_icon.svg') left 14px no-repeat;
  background-size: 20px 25px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.purchases__link:hover {
  color: #808080;
}
.overlay {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.overlay-show {
  display: block;
}
.cart-popup-show .cart-popup {
  opacity: 1;
  -webkit-transform: translateY(580px);
  -moz-transform: translateY(580px);
  transform: translateY(580px);
}
.cart-popup {
  position: absolute;
  top: -600px;
  right: 0;
  width: 385px;
  height: 550px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 0 35px;
  z-index: 99999;
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-popup__header {
  clear: both;
  display: block;
  overflow: hidden;
  height: 100px;
  padding: 20px 0;
  position: relative;
}
.cart-popup__header .purchases {
  float: left;
}
.cart-popup-close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 38px;
  right: 38px;
  background: url('../images/popup-close.svg') center center no-repeat;
  background-size: 11px 11px;
  cursor: pointer;
}
.cart-popup__checkout {
  position: absolute;
  display: block;
  width: 100%;
  height: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e6e6e6;
  line-height: 65px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  z-index: 99;
  background: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.cart-popup__checkout:hover {
  background: #808080;
  color: #fff;
}
.ship-list {
  clear: both;
  display: block;
  height: 350px;
  overflow: auto;
}
.ship-list__item {
  clear: both;
  display: block;
  overflow: hidden;
  padding-bottom: 9px;
}
.ship-list__item:last-child {
  padding-bottom: 0;
}
.ship-list__item-img {
  float: left;
  width: 100px;
}
.ship-list__item-img img {
  display: block;
  margin: 0;
  padding: 0;
}
.ship-list__item-info {
  float: right;
  width: 204px;
  padding: 8px 0;
  position: relative;
}
.ship-list__title {
  clear: both;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 16px;
  padding-bottom: 6px;
  white-space: nowrap;
}
.ship-list__title:after {
  content: '';
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, #ffffff));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #ffffff 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #ffffff 100%);
  /* IE10 preview */
  background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
.ship-list__total {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 2px;
}
.ship-list__total span {
  color: #808080;
}
.ship-list__price {
  font-size: 14px;
  color: #89C5C3;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.ship-list__delete {
  clear: both;
  display: block;
  overflow: hidden;
  width: 70px;
  height: 20px;
  border: 1px solid #808080;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.ship-list__delete:hover {
  color: #fff;
  background: #808080;
}
.container {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 9;
}
.navigation {
  clear: both;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 60px 0;
}
.navigation__level-1 {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0 0 5px 0;
}
.navigation__level-1 a {
  color: #cccccc;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.navigation__level-1 a:hover {
  color: #808080;
}
.navigation__level-1 span {
  display: inline-block;
  margin: 0 25px;
}
.navigation__level-2 {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}
.navigation__level-2 a {
  color: #cccccc;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.navigation__level-2 a:hover {
  color: #808080;
}
.navigation__level-2 span {
  display: inline-block;
  margin: 0 35px;
}
.content {
  clear: both;
  display: block;
  overflow: hidden;
}
.content__left {
  float: left;
  width: 270px;
}
.content__right {
  float: right;
  width: 900px;
}
.catalog {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  padding: 0 0 70px 0;
  margin: -15px 0 0 0;
}
.catalog__item {
  display: inline-block;
  width: 300px;
  padding: 15px;
  font-size: 14px;
  font-weight: 300;
}
.catalog__item-img {
  clear: both;
  display: block;
  overflow: hidden;
}
.catalog__item-info {
  clear: both;
  display: block;
  overflow: hidden;
}
.catalog__item-info-left {
  float: left;
  width: 200px;
  padding: 8px;
}
.catalog__item-info-right {
  float: right;
  width: 70px;
  padding: 20px 8px 0 0;
}
.product-collection {
  font-size: 10px;
  color: #cccccc;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3px;
  color: #808080;
  font-weight: 400;
}
.product-price {
  color: #89C5C3;
  letter-spacing: 2px;
  font-size: 13px;
}
.color {
  clear: both;
  display: block;
  overflow: hidden;
  list-style: none;
  font-size: 0;
}
.color li {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 0 3px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.color-1 {
  background: #edece9;
}
.color-2 {
  background: #89c5c3;
}
.color-3 {
  background: #eae3b5;
}
.color-4 {
  border: 2px solid #edece9;
}
.filter {
  clear: both;
  display: block;
  overflow: hidden;
}
.filter__item {
  margin: 0 0 35px 0;
  font-size: 0;
  clear: both;
  display: block;
  overflow: hidden;
}
.filter__item-title {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 14px;
  color: #808080;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.filter__item-list {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 0 0 0 15px;
  position: relative;
  margin: 0 0 3px 0;
}
.filter__item-inline {
  display: inline-block;
  margin: 0 5px 5px 0;
}
input.chck-round[type="checkbox"] {
  display: none;
}
input.chck-round[type="checkbox"]:checked + label:before {
  background: #e6e6e6;
  border: 1px solid #808080;
}
input.chck-round[type="checkbox"]:checked + label {
  color: #808080;
}
input.chck-round[type="checkbox"] + label {
  font-size: 10px;
  text-transform: uppercase;
  color: #cccccc;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 300;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
input.chck-round[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -6px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
input.chck-size[type="checkbox"] {
  display: none;
}
input.chck-size[type="checkbox"]:checked + label {
  width: 31px;
  height: 31px;
  border: 1px solid #808080;
  color: #808080;
}
input.chck-size[type="checkbox"] + label {
  display: block;
  width: 31px;
  height: 31px;
  font-size: 10px;
  line-height: 31px;
  text-align: center;
  border: 1px solid #cccccc;
  text-transform: uppercase;
  color: #cccccc;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
footer {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -161px;
  background: #fff;
  z-index: 99;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
footer .open {
  content: '';
  display: block;
  cursor: pointer;
  width: 100%;
  height: 45px;
  z-index: 99;
  top: 0;
  position: absolute;
}
footer .footer-open {
  display: block;
  width: 23px;
  height: 8px;
  position: absolute;
  top: 16px;
  right: 10px;
  z-index: 99999;
}
footer .footer-open:before {
  content: '';
  width: 14px;
  height: 1px;
  background: #cacaca;
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  left: 0;
  top: 3px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
footer .footer-open:after {
  content: '';
  width: 14px;
  height: 1px;
  background: #cacaca;
  position: absolute;
  display: block;
  transform: rotate(45deg);
  right: 0;
  top: 3px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
footer.show {
  -webkit-transform: translateY(-161px);
  -moz-transform: translateY(-161px);
  transform: translateY(-161px);
  z-index: 9999;
}
footer.show .footer-open:before {
  transform: rotate(315deg);
}
footer.show .footer-open:after {
  transform: rotate(-315deg);
}
.footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  height: 200px;
  padding: 5px 0 0 0;
}
.footer__info {
  float: left;
  overflow: hidden;
}
.footer__info-title {
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #cacaca;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
}
.footer__language {
  float: right;
  overflow: hidden;
}
.footer__language-title {
  display: block;
  overflow: hidden;
  height: 34px;
  background-size: 19px 19px;
  background: url('../images/language-select_icon.svg') right 4px no-repeat;
}
.footer__language-select {
  list-style: none;
  display: block;
  overflow: hidden;
}
.footer__language-select li {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #999999;
  line-height: 34px;
  text-transform: uppercase;
}
.footer__language-select li a {
  color: #cacaca;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.footer__language-select li a.active {
  color: #999999;
}
.footer__language-select li a:hover {
  color: #808080;
}
.footer__contacts {
  float: left;
  overflow: hidden;
  width: 200px;
  padding: 0 30px 0 0;
}
.footer__contacts-title {
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #cacaca;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
}
.footer__menu {
  clear: both;
  display: block;
  overflow: hidden;
  list-style: none;
}
.footer__menu li {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #999999;
  line-height: 34px;
  text-transform: uppercase;
}
.footer__menu li a {
  display: block;
  color: #999999;
  line-height: 34px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.footer__menu li a:hover {
  color: #808080;
}
.footer__menu li a.twitter {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 11px;
  opacity: .4;
  margin: 0 13px 0 0;
  background-image: url('../images/twitter.svg');
  background-repeat: no-repeat;
  background-size: 16px 11px;
}
.footer__menu li a.twitter:hover {
  opacity: 1;
}
.footer__menu li a.vkontakte {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 9px;
  opacity: .4;
  margin: 0 13px 0 0;
  background-size: 15px 9px;
  background-image: url('../images/vk.svg');
  background-repeat: no-repeat;
}
.footer__menu li a.vkontakte:hover {
  opacity: 1;
}
.footer__menu li a.facebook {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 12px;
  opacity: .4;
  margin: 0 13px 0 0;
  background-size: 7px 12px;
  background-image: url('../images/facebook.svg');
  background-repeat: no-repeat;
}
.footer__menu li a.facebook:hover {
  opacity: 1;
}
.footer__menu li a.instagramm {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  opacity: .4;
  background-image: url('../images/instagramm.svg');
  background-repeat: no-repeat;
}
.footer__menu li a.instagramm:hover {
  opacity: 1;
}
@media (max-width: 1200px) {
  body.header__menu-vissible .header__menu {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  body.header__menu-vissible .header__menu-show {
    -webkit-transform: translateX(-99px);
    -moz-transform: translateX(-99px);
    transform: translateX(-99px);
  }
  body.header__menu-vissible .header__menu-show span:after {
    width: 20px;
    right: -4px;
    bottom: 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  body.header__menu-vissible .header__menu-show span:before {
    width: 20px;
    right: -4px;
    top: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cart-popup-show .cart-popup {
    z-index: 9999;
    -webkit-transform: translateY(550px);
    -moz-transform: translateY(550px);
    transform: translateY(550px);
  }
  .container {
    width: 100%;
  }
  .content__left {
    width: 15%;
    min-width: 170px;
  }
  .footer {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .header__logo {
    left: 10px;
  }
  .header__menu {
    position: fixed;
    padding: 50px 0 0 0;
    top: 0;
    bottom: 0;
    right: -200px;
    width: 180px;
    margin: 0;
    overflow: visible;
    z-index: 999;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-show {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 30px;
    height: 22px;
    z-index: 9999;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-show span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 9px 0;
    background: #cccccc;
  }
  .header__menu-show span:before {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background: #cccccc;
    position: absolute;
    top: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu-show span:after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background: #cccccc;
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu li {
    clear: both;
    display: block;
    width: 200px;
    height: auto;
    z-index: 999;
    position: relative;
    line-height: normal;
  }
  .header__menu li a {
    display: block;
    padding: 10px 30px;
    overflow: hidden;
    line-height: 24px;
  }
  .header__block {
    margin-top: 48px;
    padding: 0;
  }
}
@media (max-width: 598px) {
  .filter {
    text-align: center;
  }
  .filter__item {
    padding: 0 15px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  .navigation {
    padding: 0 0 30px 0;
  }
  .navigation__level-1 span {
    margin: 0 3px;
  }
  .navigation__level-2 {
    font-size: 18px;
  }
  .navigation__level-2 span {
    display: none;
  }
  .navigation__level-2 a {
    clear: both;
    display: block;
  }
  .content__left {
    clear: both;
    width: 100%;
  }
  .content__right {
    clear: both;
    width: 100% !important;
  }
  .content__right .catalog__item {
    display: block;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
  }
}
@media (max-width: 480px) {
  a {
    cursor: none !important;
  }
  body:before {
    display: none;
  }
  header {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: static;
  }
  .header {
    position: static;
  }
  .header__logo {
    font-size: 14px;
    padding: 17px 0 0 4px;
    line-height: 18px;
  }
  .header__block {
    float: left;
  }
  .purchases {
    position: static;
  }
  .cart-popup {
    right: 10px;
  }
  .cart-popup-show .cart-popup {
    left: 10px;
    right: 10px;
    width: auto;
    z-index: 9999;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(610px);
    -moz-transform: translateY(610px);
    transform: translateY(610px);
  }
  .ship-list__item-info {
    float: left;
    width: auto;
    padding: 0 0 0 10px;
    width: 70%;
  }
  .ship-list__item-img {
    width: 25%;
  }
  .ship-list__item-img img {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  footer {
    bottom: -272px;
    cursor: none;
  }
  footer.show {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-272px);
    -moz-transform: translateY(-272px);
    transform: translateY(-272px);
  }
  .footer {
    height: 311px;
    position: relative;
  }
  .footer__contacts {
    padding: 0 10px 25px 10px;
  }
  .footer__info {
    padding: 0 10px;
  }
  .footer__language {
    display: none;
  }
  .footer__menu-social {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 23px;
  }
  .footer__menu-social a {
    margin: 0 auto 23px auto !important;
    display: block !important;
    clear: both;
    width: 15px !important;
    background-position: center center !important;
  }
}
