html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Circe-fnt';
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-fnt';
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe-fnt';
  src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #808080;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Circe-fnt';
  font-size: 14px;
  letter-spacing: 1px;
  color: #b3b3b3;
}
body:before {
  content: '';
  width: 100%;
  height: 235px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+100 */
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4f4f4 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
body:after {
  content: '';
  height: 300px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0f0f0+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
  /* IE6-9 */
}
header {
  width: 100%;
  height: 100px;
  background: #fff;
  position: relative;
  z-index: 99;
}
.header {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  height: 100px;
  overflow: visible;
  position: relative;
}
.header__logo {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #89C5C3;
  line-height: 22px;
  height: 100px;
  padding: 30px 0;
  position: absolute;
  letter-spacing: 0;
  left: -50px;
}
.header__menu {
  display: inline-block;
  overflow: hidden;
  padding: 0 0 0 200px;
}
.header__menu li {
  display: inline-block;
}
.header__menu li a {
  display: block;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__menu li a:hover {
  color: #808080;
}
.header__block {
  float: right;
  overflow: hidden;
  height: 100px;
  padding: 20px 0;
}
.login {
  float: left;
  overflow: hidden;
}
.login__enter {
  display: block;
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 60px;
  margin: 0 60px 0 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.login__enter:hover {
  color: #808080;
}
.purchases {
  float: right;
  overflow: hidden;
}
.purchases__link {
  display: block;
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 60px;
  padding: 0 0 0 30px;
  background: url('../images/cart_icon.svg') left 14px no-repeat;
  background-size: 20px 25px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.purchases__link:hover {
  color: #808080;
}
footer {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -161px;
  background: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  z-index: 99;
}
footer .footer-open {
  display: block;
  width: 23px;
  height: 8px;
  position: absolute;
  top: 16px;
  right: 10px;
  z-index: 99;
}
footer .footer-open:before {
  content: '';
  width: 14px;
  height: 1px;
  background: #cacaca;
  position: absolute;
  display: block;
  transform: rotate(45deg);
  left: 0;
  top: 3px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
footer .footer-open:after {
  content: '';
  width: 14px;
  height: 1px;
  background: #cacaca;
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  right: 0;
  top: 3px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
footer.show {
  bottom: 0;
}
footer.show .footer-open:before {
  transform: rotate(315deg);
}
footer.show .footer-open:after {
  transform: rotate(-315deg);
}
.footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  height: 200px;
  padding: 5px 0 0 0;
}
.footer__info {
  float: left;
  overflow: hidden;
}
.footer__info-title {
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #cacaca;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
}
.footer__language {
  float: right;
  overflow: hidden;
}
.footer__language-title {
  display: block;
  overflow: hidden;
  height: 34px;
  background-size: 19px 19px;
  background: url('../images/language-select_icon.svg') right 4px no-repeat;
}
.footer__language-select {
  list-style: none;
  display: block;
  overflow: hidden;
}
.footer__language-select li {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #999999;
  line-height: 34px;
  text-transform: uppercase;
}
.footer__language-select li a {
  color: #cacaca;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.footer__language-select li a.active {
  color: #999999;
}
.footer__language-select li a:hover {
  color: #808080;
}
.footer__contacts {
  float: left;
  overflow: hidden;
  width: 200px;
  padding: 0 30px 0 0;
}
.footer__contacts-title {
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #cacaca;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
}
.footer__menu {
  clear: both;
  display: block;
  overflow: hidden;
  list-style: none;
}
.footer__menu li {
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #999999;
  line-height: 34px;
  text-transform: uppercase;
}
.footer__menu li a {
  display: block;
  color: #999999;
  line-height: 34px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.footer__menu li a:hover {
  color: #808080;
}
.footer__menu li a.twitter {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 11px;
  opacity: .4;
  margin: 0 13px 0 0;
  background: url('../images/twitter.svg') 0 0 no-repeat;
}
.footer__menu li a.twitter:hover {
  opacity: 1;
}
.footer__menu li a.vkontakte {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 9px;
  opacity: .4;
  margin: 0 13px 0 0;
  background: url('../images/vk.svg') 0 0 no-repeat;
}
.footer__menu li a.vkontakte:hover {
  opacity: 1;
}
.footer__menu li a.facebook {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 12px;
  opacity: .4;
  margin: 0 13px 0 0;
  background: url('../images/facebook.svg') 0 0 no-repeat;
}
.footer__menu li a.facebook:hover {
  opacity: 1;
}
.footer__menu li a.instagramm {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  opacity: .4;
  background: url('../images/instagramm.svg') 0 0 no-repeat;
}
.footer__menu li a.instagramm:hover {
  opacity: 1;
}
