@import "reset.less";
@import "fonts.less";
@import "texts.less";


@text-color: 			#b3b3b3; // цвет основного текста
@green: 				#89C5C3;
@gray-dark: 			#808080;
@gray-light: 			#999999;
@gray: 					#cacaca;

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: @gray-dark;
}

html, body {
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: 'Circe-fnt';
	font-size: 14px;
	letter-spacing: 1px;
	color: @text-color;
}
body:before {
	content: '';
	width: 100%;
	height: 235px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+100 */
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
body:after {
	content: '';
	height: 150px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0f0f0+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
.wrapper() {
	clear: both;
	display: block;
	overflow: hidden;
	width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.transition(@trns: .2s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}

header {
	width: 100%;
	height: 100px;
	background: #fff;
	position: relative;
	z-index: 99;
}
.header {
	.wrapper();
	height: 100px;
	overflow: visible;
	position: relative;
	&__logo {
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		color: @green;
		line-height: 22px;
		height: 100px;
		padding: 30px 0;
		position: absolute;
		letter-spacing: 0;
		left: -50px;
	}
	&__menu {
		display: inline-block;
		overflow: hidden;
		padding: 0 0 0 200px;
		& li {
			display: inline-block;
			& a {
				display: block;
				line-height: 100px;
				color: @gray-light;
				font-size: 14px;
				text-transform: uppercase;
				line-height: 100px;
				text-decoration: none;
				letter-spacing: 2px;
				padding: 0 20px;
				.transition();
				&:hover {
					color: @gray-dark; 
				}
			}
		}
	}
	&__block {
		float: right;
		overflow: hidden;
		height: 100px;
		padding: 20px 0;
	}
}
.login {
	float: left;
	overflow: hidden;
	&__enter {
		display: block;
		color: @gray-light;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 60px;
		margin: 0 60px 0 0;
		.transition();
		&:hover {
			color: @gray-dark;
		}
	}
}
.purchases {
	float: right;
	overflow: hidden;
	&__link {
		display: block;
		color: @gray-light;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 60px;
		padding: 0 0 0 30px;
		background: url('../images/cart_icon.svg') left 14px no-repeat;
		background-size: 20px 25px;
		.transition();
		&:hover {
			color: @gray-dark;
		}
	}
}













footer {
	position: fixed;
	width: 100%;
	left: 0;
	roght: 0;
	bottom: 0;
	background: #fff;
	z-index: 99;
}
.footer {
	.wrapper();
	height: 200px;
	padding: 5px 0 0 0;
	&__info {
		float: left;
		overflow: hidden;


		&-title {
			display: block;
			overflow: hidden;
			font-size: 10px;
			color: @gray;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: 34px;
		}

	}
	&__contacts {
		float: left;
		overflow: hidden;
		width: 200px;
		padding: 0 30px 0 0;
		&-title {
			display: block;
			overflow: hidden;
			font-size: 10px;
			color: @gray;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: 34px;
		}
	}
	&__menu {
		clear: both;
		display: block;
		overflow: hidden;
		list-style: none;
		& li {
			clear: both;
			display: block;
			overflow: hidden;
			font-size: 10px;
			color: @gray-light;
			line-height: 34px;
			text-transform: uppercase;
			& a {
				display: block;
				color: @gray-light;
				line-height: 34px;
				.transition();
				&:hover {
					color: @gray-dark;
				}
				&.twitter {
					display: inline-block;
					vertical-align: middle;
					width: 16px;
					height: 11px;
					opacity: .4;
					margin: 0 13px 0 0;
					background: url('../images/twitter.svg') 0 0 no-repeat;
					&:hover {
						opacity: 1;
					}
				}
				&.vkontakte {
					display: inline-block;
					vertical-align: middle;
					width: 15px;
					height: 9px;
					opacity: .4;
					margin: 0 13px 0 0;
					background: url('../images/vk.svg') 0 0 no-repeat;
					&:hover {
						opacity: 1;
					}
				}
				&.facebook {
					display: inline-block;
					vertical-align: middle;
					width: 5px;
					height: 12px;
					opacity: .4;
					margin: 0 13px 0 0;
					background: url('../images/facebook.svg') 0 0 no-repeat;
					&:hover {
						opacity: 1;
					}
				}
				&.instagramm {
					display: inline-block;
					vertical-align: middle;
					width: 12px;
					height: 12px;
					opacity: .4;
					background: url('../images/instagramm.svg') 0 0 no-repeat;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}