@import "reset.less";
@import "fonts.less";
@import "texts.less";

@text-color: 			#b3b3b3;	// цвет основного текста
@green: 				#89C5C3;
@gray-dark: 			#808080;
@gray-light: 			#999999;
@gray-lighter: 			#cccccc;
@gray: 					#cacaca;
@gray-border: 			#e6e6e6;
@left-menu-show: 		.5s;		// скорость появления менюшки справа на адаптиве

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: @gray-dark;
}

html, body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Circe-fnt';
	font-size: 14px;
	letter-spacing: 1px;
	color: @text-color;
	position: relative;
	min-height: 100vh;
	min-width: 320px;
}
body:before {
	content: '';
	width: 100%;
	height: 235px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+100 */
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
body:after {
	content: '';
	height: 300px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0f0f0+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
body.header__menu-vissible,
body.cart-popup-show {
	overflow: hidden;
	height: 100vh;
}
.wrapper() {
	clear: both;
	display: block;
	overflow: hidden;
	width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.clear() {
	clear: both;
	display: block;
	overflow: hidden;
}
.transition(@trns: .2s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}
.radius(@rds: 100px) {
	-webkit-border-radius: @rds;
	-moz-border-radius: @rds;
	border-radius: @rds;
}
.shadow(@shdw: 0 0 10px rgba(0,0,0,.1);) {
	-webkit-box-shadow: @shdw;
	-moz-box-shadow: @shdw;
	box-shadow: @shdw;
}
header {
	width: 100%;
	height: 100px;
	background: #fff;
	position: relative;
	top: 0;
	z-index: 9999;
}
.header {
	.wrapper();
	height: 100px;
	overflow: visible;
	position: relative;
	&__logo {
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		color: @green;
		line-height: 22px;
		height: 100px;
		padding: 30px 0;
		position: absolute;
		letter-spacing: 0;
		left: -50px;
	}
	&__menu {
		display: inline-block;
		overflow: hidden;
		padding: 0 0 0 200px;
		& li {
			display: inline-block;
			& a {
				display: block;
				line-height: 100px;
				color: @gray-light;
				font-size: 14px;
				text-transform: uppercase;
				line-height: 100px;
				text-decoration: none;
				letter-spacing: 2px;
				padding: 0 20px;
				.transition();
				&:hover {
					color: @gray-dark; 
				}
			}
		}
	} 
	&__block {
		float: right;
		height: 100px;
		padding: 20px 0;
	}
}
.login {
	float: left;
	overflow: hidden;
	&__enter {
		display: block;
		color: @gray-light;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 60px;
		margin: 0 60px 0 0;
		.transition();
		&:hover {
			color: @gray-dark;
		}
	}
}
.purchases {
	float: right;
	position: relative;
	cursor: pointer;
	&__link {
		display: block;
		color: @gray-light;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 60px;
		padding: 0 0 0 30px;
		background: url('../images/cart_icon.svg') left 14px no-repeat;
		background-size: 20px 25px;
		.transition();
		&:hover {
			color: @gray-dark;
		}
	}
}
.overlay {
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	&-show {
		display: block;
	}
}
.cart-popup-show  .cart-popup {
	opacity: 1;
	-webkit-transform: translateY(580px);
	-moz-transform: translateY(580px);
	transform: translateY(580px);
}
.cart-popup {
	position: absolute;
	top: -600px;
	right: 0;
	width: 385px;
	max-height: 550px;
	overflow: hidden;
	background: #fff;
	border: 1px solid @gray-border;
	padding: 0 35px;
	z-index: 99999;
	opacity: 1;
	.transition(.3s);
	.shadow();

	&__header {
		clear: both;
		display: block;
		overflow: hidden;
		height: 100px;
		padding: 20px 0;
		position: relative;
		& .purchases {
			float: left;
		}
	}
	&-close {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 38px;
		right: 38px;
		background: url('../images/popup-close.svg') center center no-repeat;
		background-size: 11px 11px;
		cursor: pointer;
	}
	&__checkout {
		display: block;
		margin: 0 -35px;
		height: 65px;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid @gray-border;
		line-height: 65px;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 2px;
		z-index: 99;
		background: #fff;
		.transition();
		&:hover {
			background: @gray-dark;
			color: #fff;
		}
	}
}
.ship-list {
	clear: both;
	display: block;
	height: 330px;
	margin-bottom: 20px;
	overflow: auto;
	&__item {
		clear: both;
		display: block;
		overflow: hidden;
		padding-bottom: 9px;
		&:last-child {
			padding-bottom: 0;
		}
		&-img {
			float: left;
			width: 100px;
			& img {
				display: block;
				margin: 0;
				padding: 0;
			}
		}
		&-info {
			float: right;
			width: 204px;
			padding: 8px 0;
			position: relative;
		}
	}
	&__title {
		clear: both;
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300;
		line-height: 16px;
		padding-bottom: 6px;
		white-space: nowrap;
		&:after {
			content: '';
			width: 30px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 99;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ffffff+100&0+0,1+100 */
			background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome4-9,Safari4-5 */
			background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: -o-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10-11.50 */
			background: -ms-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* IE10 preview */
			background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}
	}
	&__total {
		font-size: 10px;
		line-height: 12px;
		text-transform: uppercase;
		font-weight: 300;
		padding-bottom: 2px;
		& span {
			color: @gray-dark;
		}
	}
	&__price {
		font-size: 14px;
		color: @green;
		font-weight: 300;
		letter-spacing: 2px;
		padding-bottom: 10px;
	}
	&__delete {
		clear: both;
		display: block;
		overflow: hidden;
		width: 70px;
		height: 20px;
		border: 1px solid @gray-dark;
		text-align: center;
		line-height: 20px;
		font-size: 10px;
		.radius(7px);
		.transition();
		&:hover {
			color: #fff;
			background: @gray-dark;
		}
	}
}
.container {
	.wrapper();
	padding: 0 0 100px 0;
	position: relative;
	z-index: 9;
}
.navigation {
	clear: both;
	display: block;
	overflow: hidden;
	text-align: center;
	padding: 60px 0;
	&__level-1 {
		clear: both;
		display: block;
		overflow: hidden;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300;
		margin: 0 0 5px 0;
		& a {
			color: @gray-lighter;
			.transition();
			&:hover {
				color: @gray-dark;
			}
		}
		& span {
			display: none;
		}
		& span.wrp-1 {
			display: inline-block;
			margin: 0 25px;
		}
	}
	&__level-2 {
		clear: both;
		display: block;
		overflow: hidden;
		font-size: 20px;
		letter-spacing: 2px;
		font-weight: 300;
		& a {
			color: @gray-lighter;
			.transition();
			&:hover {
				color: @gray-dark;
			}
		}
		& span {
			display: inline-block;
			margin: 0 35px;
		}
	}
}
.content {
	clear: both;
	display: block;
	overflow: hidden;
	&__left {
		float: left;
		width: 270px;
		&-cnt {
			width: 195px;
			padding-right: 30px;
		}
	}
	&__right {
		float: right;
		width: 900px;
		&-cnt {
			width: 965px;
		}
	}
}
.catalog {
	clear: both;
	display: block;
	overflow: hidden;
	font-size: 0;
	padding: 0 0 70px 0;
	margin: -15px 0 0 0;
	&__item {
		display: inline-block;
		width: 300px;
		padding: 15px;
		font-size: 14px;
		font-weight: 300;
		&-img {
			.clear();
		}
		&-info {
			.clear();
			&-left {
				float: left;
				width: 200px;
				padding: 8px;
			}
			&-right{
				float: right;
				width: 70px;
				padding: 20px 8px 0 0;
			}
		}
	}
}
.product {
	&-collection {
		font-size: 10px;
		color: @gray-lighter;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	&-title {
		font-size: 14px;
		text-transform: uppercase;
		line-height: 24px;
		letter-spacing: 3px;
		color: @gray-dark;
		font-weight: 400;
	}
	&-price {
		color: @green;
		letter-spacing: 2px;
		font-size: 13px;
	}
}
.color {
	.clear();
	list-style: none;
	font-size: 0;
	& li {
		display: inline-block;
		width: 13px;
		height: 13px;
		margin: 0 0 3px 3px;
		.radius(4px);
	}
	&-1 {
		background: #edece9;
	}
	&-2 {
		background: #89c5c3;
	}
	&-3 {
		background: #eae3b5;
	}
	&-4 {
		border: 2px solid #edece9;
	}
}
.filter {
	clear: both;
	display: block;
	overflow: hidden;
	&__item {
		margin: 0 0 35px 0;
		font-size: 0;
		&-title {
			clear: both;
			display: block;
			overflow: hidden;
			font-size: 14px;
			color: @gray-dark;
			font-weight: 300;
			margin: 0 0 10px 0;
		}
		clear: both;
		display: block;
		overflow: hidden;
		&-list {
			clear: both;
			display: block;
			overflow: hidden;
			padding: 0 0 0 15px;
			position: relative;
			margin: 0 0 3px 0;
			&-3 {
				display: inline-block;
				margin:	0 5px 5px 0;
				padding: 0;
			}
		}
		&-inline {
			display: inline-block;
			margin: 0 5px 5px 0;
		}
	}
}
input.chck-round[type="checkbox"] {
	display: none;
	&:checked + label:before {
		background: @gray-border;
		border: 1px solid @gray-dark;
	}
	&:checked + label {
		color: @gray-dark;
	}
}
input.chck-round[type="checkbox"] + label {
	font-size: 10px;
	text-transform: uppercase;
	color: @gray-lighter;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: 300;
	.transition();
	&:before {
		content: '';
		position: absolute;
		left: 0;
		display: block;
		vertical-align: middle;
		width: 9px;
		height: 9px;
		top: 50%;
		margin-top: -6px;
		border: 1px solid @gray-border;
		.radius();
		.transition();
	}
}


input.chck-size[type="checkbox"] {
	display: none;
	&:checked + label {
		width: 31px;
		height: 31px;
		color: @gray-dark;
		border: 1px solid @gray-dark;
		color: @gray-dark;
	}
}
input.chck-size[type="checkbox"] + label {
	display: block;
	width: 31px;
	height: 31px;
	font-size: 10px;
	line-height: 31px;
	text-align: center;
	border: 1px solid @gray-lighter;
	text-transform: uppercase;
	color: @gray-lighter;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: 400;
	.radius(10px);
	.transition();
}

input.fltr-3[type="checkbox"] {
	display: none;
	&:checked + label {
		width: 31px;
		height: 31px;
		color: @gray-dark;
		border: 1px solid @gray-dark;
		color: @gray-dark;
	}
}
input.fltr-3[type="checkbox"] + label {
	display: block;
	width: 31px;
	height: 31px;
	font-size: 10px;
	line-height: 31px;
	text-align: center;
	border: 1px solid @gray-lighter;
	text-transform: uppercase;
	color: @gray-lighter;
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: 400;
	.radius(10px);
	.transition();
}


footer {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0; 
	bottom: -161px;
	background: #fff;
	z-index: 99;
	.transition(.4s);
	& .open {
		content: '';
		display: block;
		cursor: pointer;
		width:100%;
		height: 45px;
		z-index: 99;
		top:0;
		position: absolute;
	}
	& .footer-open {
		display: block;
		width: 23px;
		height: 8px;
		position: absolute;
		top: 16px;
		right: 10px;
		z-index: 99999;
		&:before {
			content: '';
			width: 14px;
			height: 1px;
			background: @gray;
			position: absolute;
			display: block;
			transform: rotate(-45deg);
			left: 0;
			top: 3px;
			.radius();
			.transition(.6s);
		}
		&:after {
			content: '';
			width: 14px;
			height: 1px;
			background: @gray;
			position: absolute;
			display: block;
			transform: rotate(45deg);
			right: 0;
			top: 3px;
			.radius();
			.transition(.6s);
		}
	}
}
footer.show {
	-webkit-transform: translateY(-161px);
	-moz-transform: translateY(-161px);
	transform: translateY(-161px);
	z-index: 999999;
	& .footer-open {
		&:before {
			transform: rotate(315deg);
		}
		&:after {
			transform: rotate(-315deg);
		}
	}
}
.footer {
	.wrapper();
	height: 200px;
	padding: 5px 0 0 0;
	&__info {
		float: left;
		overflow: hidden;
		&-title {
			display: block;
			overflow: hidden;
			font-size: 10px;
			color: @gray;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: 34px;
		}
	}
	&__language {
		float: right;
		overflow: hidden;
		&-title {
			display: block;
			overflow: hidden;
			height: 34px;
			background-size: 19px 19px;
			background: url('../images/language-select_icon.svg') right 4px no-repeat;
		}
		&-select {
			list-style: none;
			display: block;
			overflow: hidden;
			&.active-ru li {
				color: @gray-light;
			}
			&.active-en li {
				color: @gray-light;
			}
			& li {
				clear: both;
				display: block;
				overflow: hidden;
				font-size: 10px;
				color: @gray;
				line-height: 34px;
				text-transform: uppercase;
				cursor: pointer;
				.transition();
				&:hover {
					color: @gray-dark;
				}
				&.active {
					color: @gray-light;
				}
				& a {
					color: @gray;
					.transition();
					&.active {
						color: @gray-light;
					}
					&:hover {
						color: @gray-dark;
					}
				}
			}
		}
	}
	&__contacts {
		float: left;
		overflow: hidden;
		width: 200px;
		padding: 0 30px 0 0;
		&-title {
			display: block;
			overflow: hidden;
			font-size: 10px;
			color: @gray;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: 34px;
		}
	}
	&__menu {
		clear: both;
		display: block;
		overflow: hidden;
		list-style: none;
		&-mail {
			letter-spacing: -.01em;
		}
		& li {
			clear: both;
			display: block;
			overflow: hidden;
			font-size: 10px;
			color: @gray-light;
			line-height: 34px;
			text-transform: uppercase;
			& a {
				display: block;
				color: @gray-light;
				line-height: 34px;
				.transition();
				&:hover {
					color: @gray-dark;
				}
				&.pinterest {
					display: inline-block;
					vertical-align: middle;
					width: 12px;
					height: 12px;
					opacity: .4;
					margin: 0 13px 0 0;
					background-image: url('../images/pinterest.svg');
					background-repeat: no-repeat;
					background-size: 12px 12px;
					&:hover {
						opacity: 1;
					}
				}
				&.twitter {
					display: inline-block;
					vertical-align: middle;
					width: 16px;
					height: 11px;
					opacity: .4;
					margin: 0 13px 0 0;
					background-image: url('../images/twitter.svg');
					background-repeat: no-repeat;
					background-size: 16px 11px;
					&:hover {
						opacity: 1;
					}
				}
				&.vkontakte {
					display: inline-block;
					vertical-align: middle;
					width: 15px;
					height: 9px;
					opacity: .4;
					margin: 0 13px 0 0;
					background-size: 15px 9px;
					background-image: url('../images/vk.svg');
					background-repeat: no-repeat;
					&:hover {
						opacity: 1;
					}
				}
				&.facebook {
					display: inline-block;
					vertical-align: middle;
					width: 5px;
					height: 12px;
					opacity: .4;
					margin: 0 13px 0 0;
					background-size: 7px 12px;
					background-image: url('../images/facebook.svg');
					background-repeat: no-repeat;
					&:hover {
						opacity: 1;
					}
				}
				&.instagramm {
					display: inline-block;
					vertical-align: middle;
					width: 12px;
					height: 12px;
					opacity: .4;
					background-image: url('../images/instagramm.svg');
					background-repeat: no-repeat;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
.warning {
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	color: #CE5252;
	height: 0;
	padding: 40px 0 0 0;
}
.autorization {
	clear: both;
	display: block;
	color: #3C3C3C;
	max-width: 370px;
	& .button {
		float: left;
		width: 85px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		font-weight: 300;
		font-family: 'Circe-fnt';
		font-size: 14px;
		letter-spacing: 3px;
		cursor: pointer;
		border: 1px solid #808080;
		background: none;
		.radius(9px);
		.transition();
		&:hover {
			background: #808080;
			color: #fff;
		}
	}
	& .forgot {
		float: right;
		overflow: hidden;
		line-height: 40px;
		font-weight: 300;
		margin-right: 20px;
		color: #979797;
		letter-spacing: 3px;
	}
	&__title {
		font-size: 37px;
		letter-spacing: 5px;
		font-weight: 300;
		color: #3C3C3C;
		line-height: 37px;
		padding: 85px 0 65px 0;
		& a {
			display: inline-block;
			font-size: 14px;
			padding: 0 0 0 50px;
			color: @gray-dark;
			.transition();
			&:hover {
				color: @gray;
			} 
		}
	}
	& .input {
		display: block;
		width: 100%;
		height: 50px;
		.radius(9px);
		background: none;
		border: none;
		padding: 0 30px;
		z-index: 99;
		font-weight: 300;
		font-family: 'Circe-fnt';
		font-size: 14px;
		letter-spacing: 3px;
	}
	&-item {
		clear: both;
		display: block;
		position: relative;
		margin: 0 0 25px 0;
		background: #f5f5f8;
		border: 1px solid #808080;
		.radius(9px);
		max-width: 370px;
		&-last {
			padding: 25px 0 0 0;
			height: auto;
			border: none;
			background: none;
		}
		&__title {
			overflow: hidden;
			font-size: 14px;
			color: #808080;
			font-weight: 300;
			position: absolute;
			top: 18px;
			left: 20px;
			padding: 0 10px;
			height: 14px;
			line-height: 14px;
			.transition();
			position: absolute;
			&-up {
				top: -8px;
			}
		}
	}
}
.input-block {
	display: block;
	width: 100%;
	height: 50px;
	background: #f5f5f8;
	border: 1px solid #808080;
	padding: 0 30px;
	font-weight: 300;
	font-family: 'Circe-fnt';
	font-size: 14px;
	letter-spacing: 3px;
	.radius(9px);
}
.registration {
	clear: both;
	display: block;
	&__item {
		clear: both;
		display: block;
		position: relative;
		padding: 0 0 25px 0;
	}
	&__left {
		float: left;
		overflow: hidden;
		min-width: 370px;
	}
	&__right {
		float: left;
		overflow: hidden;
		min-width: 370px;
		padding: 0 0 0 25px;
	}
	& .buttons {
		clear: both;
		display: block;
		&__frst {
			clear: both;
			display: block;
			padding: 20px 0;
		}
		& a {
			display: inline-block;
			margin: 0 0 0 15px;
			color: #89C5C3;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: 3px;
		}
		& .button {
			display: block;
			height: 40px;
			line-height: 40px;
			font-weight: 300;
			font-family: 'Circe-fnt';
			font-size: 14px;
			border: 1px solid #808080;
			background: none;
			cursor: pointer;
			color: #808080;
			.radius(9px);
			.transition();
			padding: 0 18px;
			letter-spacing: 2px;
			&:hover {
				color: #fff;
				background: #808080;
			}
		}
	}
}

input[type="checkbox"] {
    display:none;            
}
input[type="checkbox"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    background: #f5f5f8;
    border: 1px solid #808080;
    vertical-align: middle;
    .transition();
    .radius(4px);
}
input[type="checkbox"]:checked + label::before {
    background: #89C5C3;
}

// input.input[type="text"] + label {
// 	font-size: 10px;
// 	text-transform: uppercase;
// 	color: @gray-lighter;
// 	cursor: pointer;
// 	letter-spacing: 2px;
// 	font-weight: 300;
// 	.transition();
// 	&:before {
// 		content: '';
// 		position: absolute;
// 		left: 0;
// 		display: block;
// 		vertical-align: middle;
// 		width: 9px;
// 		height: 9px;
// 		top: 50%;
// 		margin-top: -6px;
// 		border: 1px solid @gray-border;
// 		.radius();
// 		.transition();
// 	}
// }

@media(max-width: 1200px) {
	body.header__menu-vissible .header__menu {
		-webkit-transform: translateX(-200px);
		-moz-transform: translateX(-200px);
		transform: translateX(-200px);
	}
	body.header__menu-vissible .header__menu-show {
		-webkit-transform: translateX(-99px);
		-moz-transform: translateX(-99px);
		transform: translateX(-99px);
		& span {
			&:after {
				width: 20px;
				right: -4px;
				bottom: 3px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:before {
				width: 20px;
				right: -4px;
				top: 3px;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
	.cart-popup-show .cart-popup {
		z-index: 9999;
		-webkit-transform: translateY(550px);
		-moz-transform: translateY(550px);
		transform: translateY(550px);
	}
	.container {
		width: 100%;
	}
	.content__left {
		width: 15%;
		min-width: 170px;
	}
	.footer {
		width: 100%;
	}
	.header {
		width: 100%;
		&__logo {
			left: 10px;
		}
		&__menu {
			position: fixed;
			margin: 0;
			padding: 50px 0 0 0;
			top: 0;
			bottom: 0;
			right: -200px;
			width: 180px;
			margin: 0;
			overflow: visible;
			z-index: 999;
			background: #fff;
			.shadow();
			.transition(@left-menu-show);
			&-show {
				position: absolute;
				right: 22px;
				top: 22px;
				width: 30px;
				height: 22px;
				z-index: 9999;
				.transition(@left-menu-show);
				& span {
					display: block;
					width: 30px;
					height: 4px;
					margin: 9px 0;
					background: @gray-lighter;
					&:before {
						content: '';
						display: block;
						width: 30px;
						height: 4px;
						background: @gray-lighter;
						position: absolute;
						top: 0;
						.transition(@left-menu-show);
					}
					&:after {
						content: '';
						display: block;
						width: 30px;
						height: 4px;
						background: @gray-lighter;
						position: absolute;
						bottom: 0;
						.transition(@left-menu-show);
					}
				}
			}
			& li {
				clear: both;
				display: block;
				width: 200px;
				height: auto;
				z-index: 999;
				position: relative;
				line-height: normal;
				& a {
					display: block;
					overflow: hidden;
					padding: 10px 30px;
					overflow: hidden;
					line-height: 24px;
				}
			}
		}
		&__block {
			margin-top: 48px;
			padding: 0;
		}
	}
}
@media(max-width: 780px) {
	.registration__right {
		padding: 0;
	}
	.autorization__title a {
		display: block;
		padding: 0;
		clear: both;
	}
	.warning {
		line-height: normal;
		padding: 20px 10px;
		height: auto;
	}
	.autorization__title {
		font-size: 30px;
		padding: 0 0 25px 0;
	}
	.filter {
		text-align:center;
		&__item {
			padding: 0 15px;
			text-align: left;
			display: inline-block;
			vertical-align: top;
		}
	}
	.navigation {
		padding: 0 0 30px 0;
		&__level-1 {
			& span.wrp-1 {
				margin: 0 3px;
			}
		}
		&__level-2 {
			font-size: 18px;
			& span {
				display: none;
			}
			& a {
				clear: both;
				display: block;
			}
		}
	}
	.content__left {
		clear: both;
		width: 100%;
	}
	.content__right {
		clear: both;
		width: 100% !important;
		& .catalog {
			&__item {
				display: block;
				margin: 0 auto;
				padding: 0 15px 15px 15px;
			}
		}
	}

}
@media(max-width: 480px) {
	a {
		cursor: none !important;
	}
	body:before {
		display: none;
	}
	header {
		.shadow();
		position: static;
	}
	.header {
		position: static;
		&__logo {
			font-size: 14px;
			padding: 17px 0 0 4px;
			line-height: 18px;
		}
		&__block {
			float: left;
		}
	}
	.purchases {
		position: static;
	}
	.cart-popup {
		right: 10px;
	}
	.cart-popup-show .cart-popup {
		left: 10px;
		right: 10px;
		width: auto;
		z-index: 9999;
		.transition(.5s);
		-webkit-transform: translateY(610px);
		-moz-transform: translateY(610px);
		transform: translateY(610px);
	}
	.ship-list {
		&__item {
			&-info {
				float: left;
				width: auto;
				padding: 0 0 0 10px;
				width: 70%;
			}
			&-img {
				width: 25%;
				& img {
					display: block;
					overflow: hidden;
					width: 100%;
				}
			}
		}
	}
	footer {
		bottom: -272px;
		cursor: none;
		&.show {
			.shadow();
			-webkit-transform: translateY(-272px);
			-moz-transform: translateY(-272px);
			transform: translateY(-272px);
		}
	}
	.footer {
		height: 311px;
		position: relative;
		&__contacts {
			padding: 0 10px 25px 10px;
		} 
		&__info {
			padding: 0 10px;
		}
		&__language {
			display: none;
		}
		&__menu {
			&-social {
				position: absolute;
				right: 10px;
				bottom: 0;
				width: 23px;
				& a {
					margin: 0 auto 23px auto !important;
					display: block !important;
					clear: both;
					width: 15px !important;
					background-position: center center !important;
				}
			}
		}
	}
}
.tst {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
}
.cnt {
	padding-top: 85px;
	& p {
		color: #4D4D4D;
		font-size: 14px;
		letter-spacing: 2px;
		font-weight: 300;
		margin: 0 0 15px 0;
		line-height: 20px;
	}
	h1 {
	    font-size: 37px;
	    letter-spacing: 5px;
	    font-weight: 300;
	    color: #3C3C3C;
	    line-height: 37px;
	    padding: 0 0 40px 0;
	}
}
.left-menu {
	clear: both;
	display: block;
	overflow: hidden;
	list-style: none;
	& li {
		clear: both;
		display: block;
		overflow: hidden;
		& a {
			display: block;
			overflow: hidden;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 13px 0;
			font-weight: 300;
			color: #CACACA;
			.transition();
			&:hover {
				color: #808080;
			}
		}
	}
}